@import '../../assets/styles/colors.scss';

.footer {
    // height: 15vh;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
    padding: 2.5rem 2.5rem 1rem 2.5rem;
    &__copyright {
        margin-left: 10rem;
    }

    &__social {
        z-index: 2;
        display: flex;
        list-style-type: none;
        padding: 0;
        // margin-right:
        margin: 0;

        &-wrapper {
            display: flex;
            align-items: flex-end;
        }
    }

    &__social-item {
        margin: 0 1rem;
        color:$secondary-color;
        font-size: 6em;
    }

    &__tags {
        z-index: 2;
    }

    // TODO : triangle shape

    // &::before {
    //     position:absolute;
    //     content: " ";
    //     display:block;
    //     top: 7rem;
    //     right: -50;
    //     height: 10rem;
    //     transform:rotate(-6deg);
    //     width:100vw;
    //     background-color: $bg-secondary;
    //     z-index: 1;
    // }
    
}

// when flex is wrapping
@media (max-width: 1025px) { 
   
    .footer {
        justify-content: start;


        // TODO : MARGIN BETWEEN TAGS
        &__copyright {
            margin: 0;
            order: 2;
            margin-bottom: 5vh;
        }

        &__social {
            // display: block !important;
            &-wrapper {
                order: 1;
                margin-bottom: 5vh;
                width: 100%;
            }
        }

        &__tags {
            z-index: 2;
            order: 3;
            width: 100%;
        }
    }

}