@import './assets/styles/colors.scss';

.html-tags {
    font-family: 'La belle aurore', 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    color: $tags-color;
    font-size: 1.8em;
    // display: inline-block;
    margin: 0;
}