// primary
$primary-color: #F56F36;
$p-light: #ffa063;
$p-dark: #bc3f04;

// secondary
$secondary-color: #8D8D8D;
// $s-light: #bdbdbd;
// alternative
$s-light: #2D2D2D;
$s-dark: #606060;

$bg-color: #1D1D1D;
$bg-secondary: #2D2D2D;
$tags-color: #515151;